HOPS_HOST=127.0.0.1
HOPS_PORT=8000
HOPS_BASE_PATH=
HOPS_FRONTEND_DIR=frontend
HOPS_CONFIG_FILE=config/app.json
HOPS_CONTENT_DIR=content
HOPS_DATA_DIR=data
HOPS_DATA_BASE_URL=/data
HOPS_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
